<div id="changelog-version-form" class="changelog-version-form" style="display:none;">
  <div class="box tabular">
    <div class="contextual">

      <a href="#" class="icon icon-add add-changelog-version">⇧Add version above</a>
      <a href="#" class="icon icon-add add-changelog-line">Add change line</a>
      <a href="#" class="icon icon-del delete-changelog-version">Delete version</a>
    </div>
    <p>
      <label for="version_number">Version number<span class="required"> *</span></label>
      <input size="60" type="text" name="version_number" id="version_number">
    </p>
    <p>
      <label for="version_head">Unfinished version?</label>
      <input type="checkbox" name="version_head">
    </p>
    <p class="release_date_container">
      <label for="release_date">Release date<span class="required"> *</span></label>
      <input size="60" type="text" name="release_date">
    </p>
  </div>
</div>
<div id="changelog-line-form" class="changelog-line-form" style="display:none;">
  <div class="contextual">
    <a href="#" class="icon icon-del delete-changelog-line"></a>
  </div>
  <p>
    <label for="changelog_line">
      <select name="changelog_machine">
        <% @machines.each do |k, v| %>
            <option value="<%= k %>">
              <%= v %>
            </option>
        <% end %>
      </select>
      <select name="changelog_type">
        <% @types.each do |k, v| %>
            <option value="<%= k %>">
              <%= v %>
            </option>
        <% end %>
      </select>
      <select name="changelog_subtype">
        <% @subtypes.each do |k, v| %>
            <option value="<%= k %>">
              <%= v %>
            </option>
        <% end %>
      </select>
      <select name="changelog_importance">
        <% @importances.each do |k, v| %>
            <option value="<%= k %>">
              <%= v %>
            </option>
        <% end %>
      </select>
    </label>
    <textarea cols="60" rows="2" name="changelog_details" id="news_summary"></textarea>
  </p>
</div>